body{
    background-color: #f2f2f2;
    font-family: sans-serif;
}

header {
   display: inline block;
   
}

header span{
    color: #c9c7c7;
    position: absolute;
    top: 3%;
    left: 25%;
    }

.search-box input{
    padding: 7px;
    font-size: 15px;
    margin: 5px;
    
}

.hero .banner{
    background: #362d2d url(../img/banner.jpg) no-repeat;
    background-size: contain;
}

.search-box .fa-search{
       margin left: -55%;
   }

.estrenos img{
    width: 100%;
}           

.cartelera img{
    width: 100%;
}

.movie info{
    padding-top: 20px;
    padding-bottom: 20px;
}

